<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Who is Your Representative?</title>
    <meta name="description" content="A cool thing made with <3">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="">
      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">🇺🇸</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">All <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/house">House</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/senate">Senate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bills">Bills</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <main class="container">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Hey there!</strong> This is a list of the current members of Congress. Call them about issues you care about.
      </div>

      <section class="dreams">
        <ul id="dreams" class="row">
        </ul>
      </section>
    </main>

    <footer class="container">
      <a href="#">
        😸
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="http://listjs.com/assets/javascripts/list.min.js"></script>

        
    <script>
      // client-side js
      // run by the browser each time your view template is loaded
      
      // by default, you've got jQuery,
      // add other scripts at the bottom of index.html
      
      function ordinalSuffix(i) {
          var j = i % 10,
              k = i % 100;
          if (j == 1 && k != 11) {
              return i + "st";
          }
          if (j == 2 && k != 12) {
              return i + "nd";
          }
          if (j == 3 && k != 13) {
              return i + "rd";
          }
          return i + "th";
      }
      
      
      
      $(function() {
        console.log('hello world :o');
      
      
        
        $.get('/reps', function(reps) {
          console.log(reps[0]);
          reps.forEach(function(rep) {
            var thisTerm = rep.terms[rep.terms.length - 1];
            if (thisTerm.type == "rep") {
              $('<div class="card-2 col-sm-3 ' + thisTerm.party + '"></div>')
                .append('<a href="' + thisTerm.url + '" target="blank">' + '<h4 class="name">' + rep.name.first + ' ' + rep .name.     last + '</h4></a>')
                .append('<h5 class="state">' + thisTerm.type + ", " + thisTerm.state + '</h5>')
                .append('<div class="party ' + thisTerm.party + '">' + thisTerm.party + '</div>')
                .append('<div class="terms">' + ordinalSuffix(rep.terms.length) + " term ends " + thisTerm.end.substring(0, 4) + '     </div>')
                .append('<a class="phone" href="tel:' + thisTerm.phone+  '">' + thisTerm.phone + '</a>')
                .appendTo('ul#dreams');
            }    
          });
      
        });
      
      });
      
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
