body {
  padding-top: 4.5rem;
}

#dreams {
  height: auto !important;
}

.card-2 {
  margin-bottom: 20px;

}

.state {
  text-transform: capitalize;
}

.party.Democrat {
  color: blue;
}
.party.Republican {
  color: red;
}

#search {
  margin-bottom: 20px;
}

#dreams {
  padding: 0;
}

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
}